header {
    background-color: #17B890;
    color: white;
    text-align: center;
}

main {
    margin: 5%;
}

h2 {
    text-align: center;
}

section {
    background-color:#DEE5E5
}

.articles {
    background-color: #DEE5E5;
    /* width:auto; */
}

.articles article {
    background-color: #9DC5BB;
    margin: 5%;
}

.articles img {
    text-align: center;
    border-radius: 16px;
}

h3 {
    font-size:xxx-large;
}

footer {
    text-align: center;
    background-color: #17B890;
}